*{
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
  letter-spacing: 0.02rem;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  z-index: 9999;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  max-width: 60em;
  margin: 0 auto;
  padding: 20px 0 0 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

header {
  color: #eee;
  text-align: center;
  width: 90%;
  margin: 10px auto
  
}

h1,
h2 {
 font-size: 1.29412rem;
  margin: 15px 0 0
}

h3,
h4 {
  font-size: 1rem;
  margin: 10px 0 0
}


hr {
  width: 60%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}

#pizza_banner{
  background: url(../pictures/banner_pizza.png) 50% 0 no-repeat ;
  padding: 40px
}


/*Item Card Style*/
.card {
  width: 300px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 5px;
  border: 1px dotted #eee;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.param {
  border-top: 1px solid #f28b00;
  border-bottom: 1px solid #f28b00;
  font-weight: bold;
}

.price {
  font-size: 2rem;
}
/*Item Card Style*/

/*Buttons Style*/

button {
  height: 60px;
  width: 250px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid #eee;
  color: #eee;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.02rem;
  border-radius: 0 15px 15px;
  position: relative;
  text-transform: uppercase;
}
.pizza,
.dinner,
.burger {
margin: 10px 10px 20px 30px;
}
.drink,
.salad,
.specials {
  margin: 10px 30px 20px 10px;
}

@media screen and (max-width: 768px) {
.drink,
.salad,
.specials,
.pizza,
.dinner,
.burger{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
}

button:before {
  content: "";
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #eee transparent;
  z-index: 1;
}

button.specials:before {
  border-color: transparent transparent #f28b00 transparent;
}

button:hover,
button:active {
  border-color: #f28b00;
}

.order_lunch,
.choose_pizza {
  border: 2px dotted #eee;
  border-color: #f28b00;
  margin-top: 5px
}

.order_lunch:hover,
.order_lunch:active {
  border: 2px solid #eee;
  border-color: #eee;
}

.choose_pizza:hover,
.choose_pizza:active {
  border: 2px solid #eee;
  border-color: #eee;
}
/*End Buttons Style*/


/*Responsive flexbox grid */

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*End Responsive flexbox grid */

/*Big Screen Nav */

nav {
  width: 100%;
  top: 0;
  background-color: #333;
  background-color: rgba(51, 51, 51, 0.9);
  z-index: 999;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

li {
  padding: 20px 20px 18px 20px;
 
}

.logo {
  position: absolute;
  margin: 0 20px
}

ul li:hover:not(:last-child),
ul li:active:not(:last-child) {
  background-color: #607d8b;
  border-radius: 10px;
}

ul li a {
  text-decoration: none;
  color: #eee;
  vertical-align: middle
}

input[type=checkbox],
label,
.mobile_cart,
.mobile_logo {
  display: none;
}

/*End Big Screen Nav */

/*Small and Medium Screen Nav */

@media screen and (max-width: 768px) {

  input {
  margin-left: 20px;
}
  .hide
  {
    display: none;
  }
  .toggle_menu {
    margin: 10px 0 10px 15px;
    padding:7px;
    display: inline-block;
    color: #eee;
    border: 1px solid;
    border-radius:5px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
 
  .logo{
    margin: 0;
    width: 70px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
  }
  .mobile_cart:before {
    content: "";
    display: table;
  }
  .mobile_cart:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type=checkbox]:checked ~ ul {
    display: block;
    text-align: center;
    padding: 0;
  }
  li {
    border-top: 1px solid;
  }
  .special {
    background-color: #f28b00;
    background-color: rgba(242, 139, 0, 0.7);
    border-bottom: none;
  }
}
/*End Small and Medium Screen Nav */

/*Big Screen Layout*/
@media screen and (min-width: 640px){
body{
  background: url(../pictures/bg.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
  font-size: 18px;
  line-height: 26px;
}
}











/*End Big Screen Layout*/
